{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %} 
,
{% block content %}
    <header>
        <h1>Content</h1>
        <p>
            This page will include more future content including links to youtube posts.
        </p>

        <h3> Tweets shared <h3>        
            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">So my CCNP journey starts, more specifically the ENCOR exam. It&#39;s scheduled in a month. I&#39;ve reviewed most the material and read most of the OCG. Areas of weakness for sure: intimate controller GUI knowledge, vxlan and LISP, EEM applets, Netflow, multicast, and VRFs.</p>
                &mdash; Brooks as a Service (@cachedchecks) 
            <a href="https://twitter.com/cachedchecks/status/1273769006818885635?ref_src=twsrc%5Etfw">June 19, 2020</a></blockquote> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <h3>Youtube Posts</h3>
        <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=cybrnexus" width="480" height="400" frameborder="0"></iframe>
    </header>
{% endblock %}

{% block sideview %}
{{ super() }}
{% endblock %}