{% extends 'base.html' %}
{% block header %}
<h1 class="title"> Main Page {% block title %}{% endblock %} </h1>
    <nav>
        <ul>
            <li><a href="#">Study N Lab</a></li>
            <li><a href="#">Content</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </nav>
{% endblock %} 

{% block content %}
    <header>
        <h1>About Me</h1>
        <p>Currently, living life.  God, Family, Tech, Sports, Music, and Cinema are my favorite things.
             I am working on this project.  I want it to be a blog, a guide, an inspiration, and a platform to
             inspire those currently coming up in Technology or aspiring to.  I plan to post of a plethora of educational
             resources here as I progress.  I hope this will in turn aid someone else.
         </p>
    </header>
{% endblock %}

{% block sideview %}
<aside>
    <h3>aside</h3>
        <p>Currently certs include a CCNA, for now.
            Working on Devnet and Automation, Security+, AWS SAA, and CCNP.

            More news and content to come.
        </p>
</aside>
{% endblock %}