{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %} 

{% block content %}
    <header>
        <h1>Resources</h1>
        <h3>Cisco DevNet Info</h3>
        <p> A lot of the information I used for obtaining my DevNet Associate came from
            https://developer.cisco.com/  The rest came for Pluralsight, courses by
            Nick Russo, and CBT Nuggets, courses by Knox Hutchinson and Ben Finkel.

            The DevNet sight contains many sandboxes for free pratice.  Here is a list
            of tools and programs I recommend you install to use to practice fully: Python,
            Docker, VirtualBox/VMWare or WSL2 if on Windows (Some things work more consistently in Linux),
            Postman, VS Code or Sublime Text, and Git Bash (once again, if using Windows).
        </p>
        <h3> Juniper Certs are free</h3>
        <p> As of right now Juniper associate level certifications can be free.

            There are 5 Juniper associate level certifications: JNICA-Junos, JNCIA-Sec,
            JNCIA-Cloud, JNCIA-DevOps, and JNCDA (Design).

            You can look into this be going to https://learningportal.juniper.net/
        </p>

    </header>
{% endblock %}

{% block sideview %}
{{ super() }}
{% endblock %}