{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %} 

{% block content %}
    <header>
        <h1>About Me</h1>
        <p>Currently, living life.  God, Family, Tech, Sports, Music, and Cinema are my favorite things.
             I am working on this project.  I want it to be a blog, a guide, an inspiration, and a platform to
             inspire those currently coming up in Technology or aspiring to.  I plan to post of a plethora of educational
             resources here as I progress.  I hope this will in turn aid someone else.
         </p>
    </header>
{% endblock %}

{% block sideview %}
{{ super() }}
{% endblock %}